extends ../../layouts/default

block head
  - var pageTitle = 'Публичный договор';

block content
  section.article
    .container
      h1 ПУБЛИЧНЫЙ ДОГОВОР
        br
        | на обучение в творческом коворкинге «Найла»
        br
        | «01» сентября 2019 года,	г. Гродно
      p В соответствии со ст.396 Гражданского Кодекса Республики Беларусь публичный договор является одним из видов договоров, в соответствии с которым одна сторона принимает на себя обязательство по оказанию услуг в отношении неопределенного круга лиц, обратившихся с запросом на предоставление данных услуг. Публичный договор не требует оформления на бумаге и его последующего подписания сторонами, обладает юридической силой в силу совершения сторонами определенных действий, указывающих на их волеизъявление вступить в договорные отношения.

      p •	Индивидуальный предприниматель Чернявская Татьяна Геннадьевна (далее «Исполнитель»), действующая на основании свидетельства номер 0706187 от 19.12.2012 года, выданным Администрацией Октябрьского района г. Гродно публикует оферту об оказании услуг.
      p •	В настоящей оферте нижеприведенные термины имеют следующие значения:
        br
        | «Оферта» – публичное предложение Исполнителя, адресованное любому физическому лицу, заключить с ним договор об оказании услуг (далее –
        br
        | «договор») на существующих условиях, содержащихся в предложении.
        br
        | «Заказчик» - физическое лицо, заключившее с исполнителем договор на условиях, содержащихся в договоре.
        br
        | «Акцепт» – полное и безоговорочное принятие Заказчиком условий оферты.
      p •	Настоящий договор (далее — «Договор») является публичным договором присоединения, и определяет порядок предоставления услуг по обучению танцам и фитнесу, а также порядок взаимоотношений, взаимные права и обязанности между между Индивидуальным предпринимателем Чернявской Татьяной Геннадьевной ( далее Исполнитель) и потребителем услуг - физическим лицом (далее Заказчик) принявшим, принявшим (акцептовавшим) публичное предложение (оферту) о заключении договора.
      p •	В соответствии с пунктом 2 статьи 407 Гражданского Кодекса Республики Беларусь (далее - ГК РБ) данный документ, размещенный в сети Интернет по адресам: naila.by и https://vk.com/naila_grodno, является публичной офертой, и в случае совершения физическим лицом действий, свидетельствующих о ее акцепте, является обязательным к исполнению для Исполнителя и данного физического лица.
      p •	В соответствии с пунктом 3 статьи 408 ГК РБ, оплата Заказчиком услуг Исполнителя является полным и безоговорочным акцептом оферты, что считается равносильным заключению договора на условиях, изложенных в оферте.
      p •	Договор составлен с учетом действующего законодательства и является обязательным документом для сторон, в том числе при решении финансовых проблем между Заказчиком и Исполнителем в судебных и иных органах.
      p •	Вопросы, не урегулированные договором, регулируются действующим законодательством Республики Беларусь.

      h2 1.	Предмет договора
      p 1.1.	 Исполнитель оказывает услуги по обучению по выбранной Заказчиком программе, а Заказчик, присоединяясь к настоящему публичному договору, обязуется выполнять условия договора, требования относительно организации процесса по исполнению p договора, и оплачивать обучение в школе (далее Услуги) Исполнителя.
      p 1.2.	Подтверждением заключения между сторонами договора является квитанция о получении денежных средств от Исполнителя или квитанция об оплате услуг Заказчиком, также сторонами согласовывается программа обучения (направление), количество часов и p периодичность занятий.
      p 1.3.	Направления танцев и фитнеса, обучающие мастер-классы и курсы, и иные услуги, оказываемые Исполнителем в рамках исполнении договора, определяются и утверждается прейскурантом цен и программой школы Исполнителя.
      p 1.4.	 Сроком, на который заключен договор, считается период, за который Заказчик оплатил услуги школы. Если Заказчик перестал посещать занятия, не подписав акт оказанных услуг по тем или иным причинам, услуги Исполнителя считаются оказанными в p полном объеме.
      p 1.5.	Инвентарь, атрибутика, костюмы для занятий и выступлений изготавливаются, приобретаются Заказчиком или за счет Заказчика.
      p 1.6.	Все финансовые и прочие взаимоотношения между сторонами относительно исполнения договора, в случае не достижения Заказчиком совершеннолетия, проходят с родителями либо его законными представителями, которые для целей исполнения договора расцениваются как Заказчик.

      h2 2.	Обязанности сторон.
      p 2.1.	 Заказчик обязуется:
        br
        | -	соблюдать дисциплину, правила распорядка школы Исполнителя, правила техники безопасности.
        br
        | -	выполнять все требования и условия договора.
        br
        | -	возместить Исполнителю ущерб, причиненный по его вине.
        br
        | -	во время занятий и на территории школы подчиняться руководителю занятий.
        br
        | -	бережно относиться к оборудованию и инвентарю Исполнителя.
      p 2.2.	Исполнитель обязуется:
        br
        | -	соблюдать условия договора.
        br
        | -	предоставлять Заказчику информацию обо всех изменениях в распорядке работы школы, порядке оплаты и стоимости занятий по средством объявлений в школе, с помощью Интернет групп и сайта школы, телефонной связи.

      h2 3.	Организация занятий
      p 3.1.	Исполнитель организует занятия, предоставляя место, время  и руководителя занятий на следующих условиях:
      p 3.1.1.	Заказчик подтверждает свое согласие следовать условиям договора и иным правилам школы, регламентирующим проведение занятий, предложенному распорядку занятий, проводимых Исполнителем, оплатив занятия.
        br
        | Оплата занятий производится Заказчиком самостоятельно или по доверенности другим лицом. Первое занятие Заказчик имеет право посетить, не оплатив его, на нем же Заказчик получает реквизиты для оплаты и ко второму занятию должен оплатить обучение в школе на выбранный им период, первое посещенное занятие, в данном случае, считается первым посещенным занятием по абонементу.
        br
        | Копия квитанции об оплате  с указанием  Фамилии Имени Отчества Заказчика предъявляется  Исполнителю, о чем делается соответствующая запись  ЦРМ-системе.
      p 3.1.2.	Заказчик, обратившийся за заключением настоящего договора и оплативший занятия, рассматривается Исполнителем, как здоровый человек, не имеющий медицинских и иных противопоказаний к занятиям танцами и фитнесом. Соответственно, согласие со стороны Заказчика на занятие подразумевает, что Заказчик до заключения договора прошел все необходимые медицинские обследования, проконсультировался относительно дозволенных нагрузок, и нагрузки при обучении танцем и фитнесом ему не противопоказаны.
      p 3.1.3.	Первое ознакомительное занятие, оплачивается в случае покупки абонемента как первое оплаченное занятие регулярного месячного абонемента.
      p 3.1.4.	Месячное посещение занятий включает 8 обязательных занятий и является Базовым - на регулярное обучение. Срок действия его до 30 календарных дней, начиная с первого посещенного занятия, и предполагается посещение занятий без пропусков в любых по уровню и возрасту  группах.
      p 3.1.5.	 Любые пропущенные занятия Заказчиком не восстанавливаются: за исключением занятий, пропущенных из-за болезни, командировки, стажировки Заказчика по предъявлению медицинской справки, командировочного листа, справки с места стажировки с указанием причин и дат пропусков занятий. Не использованные посещения не восстанавливаются, но могут быть отработаны в других группах по согласованию с Исполнителем.
      p 3.1.6.	Набор групп, закрытие групп. Группа набирается заранее и о начале набора группы сообщается в средствах массовой информации, сети Интернет и иным доступным  образом. Количество постоянно присутствующих в группе человек не может быть менее 6. В случае если количество людей, занимающихся в группе, становится менее 6, группа может быть закрыта по решению Исполнителя.
      p 3.1.7.	Исполнитель со своей стороны оставляет за собой право отказа в посещении занятия Заказчику с разовой оплатой, при наполненности групп. Приоритетом в данном случае пользуются Заказчики, оплатившие регулярное обучение.
      p 3.1.8.	Замена руководителя занятий группы. В случае необходимости Исполнитель может заменить в одностороннем порядке руководителя занятий (например, по болезни, отсутствию или иным причинам), проводящего занятия на другого. Иначе, занятия считаются перенесенными по инициативе Исполнителя.
      p 3.1.9.	Изменения в работе групп. В случае необходимости Исполнитель имеет право изменить в одностороннем порядке время занятий группы, а также место занятий. В случае невозможности проведения занятий по причинам, не зависящим от Исполнитель - Заказчику будет предоставлена возможность посетить любые другие групповые занятия, проводимые регулярно в школе, по выбору Заказчика либо увеличен срок действия абонемента.
      p 3.1.10.	Отмена занятий. В случае отмены занятия по независящим от Исполнителя обстоятельствам, занятие переносится вперед. В случае плановой отмены занятия информация об отмене доводится до сведения постоянных посетителей группы на занятии.
      p 3.1.11.	Исполнитель доводит до сведения Заказчика расписание и изменения в него посредством их размещения общедоступным для обозрения способом в месте оказания услуг и (или) на сайте  Исполнителя naila.by или в общих чатах viber.
      p 3.1.12.	Школа своим распоряжением может установить скидки к стоимости занятий, которые утверждаются в прейскуранте цен Исполнителя.
      p 3.2.	 Допуск к занятиям. На занятия допускаются лица опрятного вида. Обязательно наличие сменной обуви.
      p 3.2.1.	Любые занятия школы танцев подразумевают наличие дополнительной нагрузки на организм Заказчика. Ответственность за свое здоровье, в том числе и страхование жизни и здоровья Заказчик берет на себя, равно как и ответственность за последствия, нанесения вреда своему здоровью, обострения заболеваний Заказчика во время занятий до и после них.
      p 3.2.2.	 Опоздание на урок более чем на 15 минут опасно для здоровья Заказчика. Руководитель занятий имеет право не допустить опоздавшего на занятие.
      p 3.2.3.	Запрещается: есть, пить, жевать жвачку во время занятий, в том числе жевательную резинку.
      p 3.2.4.	Заказчик обязан четко следовать инструкциям руководителя занятий.
      p 3.2.5.	Войдя в зал, Заказчик должен предъявить копию квитанции об оплате услуг Исполнителя  (если это второе занятие месяца) и отметиться у руководителя занятий.  Отметки ставятся на каждом занятии.
      p 3.2.6.	Заказчик обязуется не мешать проведению занятий, в том числе:
        br
        | -	отключать на время занятий мобильные телефоны и прочие устройства, мешающие проведению занятий;
      p 3.2.7.	На занятия не допускаются лица под действием  алкоголя, наркотических средств, употребляющих сильнодействующие лекарства. Если же данный факт нарушения выявился в ходе ведения занятия, любой присутствующий представитель Исполнителя имеет право немедленно удалить Заказчика с занятий, без восстановления данного занятия для Заказчика. При повторном появлении Заказчика в вышеописанном состоянии, Исполнитель имеет право в одностороннем порядке прервать предоставление услуг данному Заказчику. Оплаченные деньги за услуги не возвращаются, компенсация за неиспользованные занятия не предоставляется.
      p 3.2.8.	Исполнитель имеет право отказать Заказчику в предоставлении услуг без объяснения причин.
      p 3.3.	Правила посещения и поведения
      p 3.3.1.	Заказчик  приходит на занятия заранее, готовится и полностью подготовленным, входит и выходит из зала согласно расписанию занятий. Во время проведения занятий соблюдает общепринятые нормы поведения, не использует ненормативную лексику, не шумит, не мешает другим Заказчикам и руководителю занятий. В случае плохого самочувствия незамедлительно предупреждает об этом руководителя занятий. Во время занятия соблюдает план занятия и следует указаниям руководителя занятий.
      p 3.3.2.	Семинары, мастер-классы, участие в соревнованиях, и других мероприятий оплачивается Заказчиком отдельно.
      p 3.3.3.	Стоимость Услуг, оказываемых в рамках настоящего Договора, определяется исходя из объема, характера и продолжительности заказанных Заказчиком Услуг в соответствии с утвержденным Исполнителем прейскурантом цен, действующим непосредственно в момент оказания Услуг, который находится на сайте Исполнителя по следующему адресу: naila.by или по адресу https://vk.com/naila_grodno, и который может меняться в течение действия договора.

      h2 4.	Стоимость услуг, порядок расчетов и сдачи-приемки услуг.
      p 4.1.	Заказчик, на основании опубликованного на сайте Исполнителя прейскуранта цен, обязан произвести оплату в порядке 100% предоплаты за оказываемые Исполнителем Услуги. Подтверждением оплаты и основанием для оказания услуг является копия квитанции из банка о перечислении денежных средств в соответствующем размере на расчетный счет Исполнителя, которая передается Исполнителю или оплата наличными средствами на месте реализации услуг.
      p 4.2.	При отказе Заказчика от услуг оговоренных в договоре, преждевременно и досрочном расторжении договора, стоимость не посещенных оплаченных занятий Заказчику не возвращается, если отказ произошел по причинам не зависящих от Исполнителя. В данном случае услуги считаются исполненными со стороны Исполнителя.
      p 4.3.	При обоюдном согласии сторон при досрочном расторжении договора стоимость оплаченных занятий может быть возвращена Заказчику за вычетом расходов и убытков, которые в связи с этим понес или понесет Исполнитель.

      h2 5.	Срок действия и изменение условий оферты.
      p 5.1.	Оферта вступает в силу с момента опубликования в сети Интернет по адресам naila.by и https://vk.com/naila_grodno и действует до момента отзыва оферты Исполнителем.
      p 5.2.	Исполнитель оставляет за собой право внести изменения в условия оферты и/или отозвать оферту в любой момент по своему усмотрению. В случае внесения Исполнителем изменений в оферту, такие изменения вступают в силу с момента опубликования новой редакции оферты в сети Интернет по адресам naila.by и https://vk.com/naila_grodno, если иной срок вступления изменений в силу не определен дополнительно при их публикации.
      p 5.3.	Оферта считается отозванной с момента удаления ее публикации в сети Интернет по адресам naila.by и https://vk.com/naila_grodno.

      h2 6.	Дополнительные условия
      p 6.1.	Исполнитель не несет ответственности за технические неудобства, вызванные проведением сезонных, профилактических и аварийных работ службами коммунального хозяйства.
      p 6.2.	Все споры между сторонами решаются путем переговоров.
      p 6.3.	За имущество Заказчика, родителей, сопровождающих и иных посетителей школы, находящиеся в арендуемых помещениях Исполнителя, Исполнитель ответственности не несет.
      p 6.4.	Все права на объекты интеллектуальной собственности, созданные  в ходе исполнения договора, принадлежат Исполнителю.
      p 6.5.	Места проведения занятий могут быть оснащены камерами наружного наблюдения с целью охраны имущества Исполнителя, недопущения нарушения прав ребенка, а также для контроля за рабочим временем сотрудников. Видеонаблюдение осуществляется только на рабочих местах работников. Право на просмотр видеоархива, а именно персональных данных сотрудников, имеет только специально уполномоченные на то лица: руководитель организации и сотрудники службы охраны (безопасности). Данная информация является конфиденциальной, и любое ее использование, а также демонстрация иным лицам являются противозаконным.

      h2 7.	Юридические реквизиты

      p Индивидуальный предприниматель
      p Чернявская Татьяна Геннадьевна.
      p УНП 591136221.
      p р/с 301 320 261 8001
      p IBAN: BY89ALFA30132026180010270000
      p в ЗАО Альфа-банк
      p МФО 153 001270
      p CВИФТ — ALFABY2X
      p БИК: ALFABY2X

      +button('a')(href="agreement.pdf" target="_blank")._dark Скачать договор





