.copyright {
  padding-top: 30px;
  padding-bottom: 36px;
  font-family: $font-second;
  font-weight: 500;

  .container {
    padding-bottom: 0;
  }

  &__item {
    font-size: 18px;
    line-height: 18px;

    @include screen(md, max) {
      text-align: center;
      display: block;
    }
  }

  a {
    position: relative;

    &::before {
      @include pseudo;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: $color-basic;
      transition: width $ease-main;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}
