$default-breakpoint-name: xl;
$default-breakpoint-value: map_has_key($breakpoints, $default-breakpoint-name);
$new-breakpoints: map_remove($breakpoints, $default-breakpoint-name);
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки

.grid {
  // font-size: 0; // Если grid__col display: inline-block
  display: flex;
  flex-wrap: wrap;
  margin: -$grid-gap-vertical (-$grid-gap/2) 0;

  &__col {
    box-sizing: border-box;
    padding: $grid-gap-vertical $grid-gap/2 0;
    margin: 0;

    &_grow {
      flex-grow: 1;
    }

    @for $i from 1 through 15 {
      &_#{$default-breakpoint-name}_#{$i} {
        width: $i * $grid-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key) {
          &_#{$key}_#{$i} {
            width: $i * $grid-col-width;
          }
        }
      }
    }
  }

  .order-1 {
    @include screen(md, max) {
      order: 1;
    }
  }
  .order-2 {
    @include screen(md, max) {
      order: 2;
    }
  }
  .order-3 {
    @include screen(md, max) {
      order: 3;
    }
  }
  .order-4 {
    @include screen(md, max) {
      order: 4;
    }
  }
  .order-5 {
    @include screen(md, max) {
      order: 5;
    }
  }
}
