.inputbox {
  display: block;

  &:not(:first-child) {
    margin-top: 24px;
  }

  &__label {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1;
  }

  &__wrapper {
    position: relative;
  }
}
