.inputbox {
  position: relative;
  display: block;

  &:not(:first-child) {
    margin-top: 24px;
  }

  &__label {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1;
  }

  &__wrapper {
    position: relative;
  }

  &.is-error {
    position: relative;

    &::after {
      @include pseudo($content: '!');
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateZ(0);
      width: 20px;
      height: 20px;
      color: red;
      border: 1px solid;
      border-radius: 100px;
    }
  }
}
