.list {
  ul {
    li {
      position: relative;
      font-size: 18px;
      line-height: 25px;
      font-family: $font-second;
      font-weight: 500;
      vertical-align: middle;
      padding-left: 10px;

      &:not(:last-child) {
        margin-bottom: 11px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: $gradient-main;
      }
    }
  }
}
