- var galleryData = getData('danceData');

mixin gallery-school()
  +b.gallery-school&attributes(attributes)
    +slider(true, true, true, true).js-school-slider
      each item in galleryData
        +slide
          .gallery-school__item
            .gallery-school__front
              .title= item.name
              +bg-image(`dance/${item.image}`, 'jpg')
            .gallery-school__back
              .title= item.name
              p= item.content

