mixin person()
  +b.person&attributes(attributes)
    span.nook.nook-top
    span.nook.nook-bottom
    +grid
      +col({md: 12, xl: 3})
        +e.preview
          .avatar
            +bg-image('avatar.jpg')
          +e.descr Татьяна Чернявская
            br
            | Основатель Naila

      +col({md: 12, xl: 8})
        +e.messadge
          span «
          | #{' '} Для меня наша школа – это второй дом, отдушина, и то заряженное место, куда приходят каждый день сотни людей получить порцию нашего тепла, любви внимания. Новые знания, мышление и даже новое тело, благодаря нашим тренировкам, и общению – это все равно вторично, главное – люди и любовь! Это и есть мой основной ориентир на протяжении 16 лет успешной работы!
          span #{' '} »
    block
