mixin gallery-intro()
  +b.gallery-intro&attributes(attributes)
    +slider(false,false, true).js-intro-slider
      - for (var i=0;i<15;i++)
        +slide
          .image
            +bg-image(`gallery/${i+1}`, 'jpg')
