extends ../../layouts/default

block head
  - var pageTitle = 'Школа фитнеса и танца';
  - var fitness = true;
  - var formNone = true;
  -
    var introFitnesslData = {
      "title": "Занятия дарят прилив энергии и позитива",
      "subtitle": "Получи:",
      "list": ["свободу самовыражения", "силу", "снятие напряжения", "гибкость", "очарование", "привлекательность", "красивое, упругое тело"],
      "descr": "Вдохновляй своим примером тысячи людей!",
      "linkVideo": "https://www.youtube.com/embed/qK5FjT5bynA"
    };

  -
    var tabData = [
        {
          "title": "Индивидуальные занятия",
          "content": "— это отличная возможность заниматься в удобное для тебя время!",
          "list": ["Индивидуальная программа, разработанная специально под твой запрос и потребности.", "Возможность больше углубиться в тонкости и нюансы техники, подтянуть то,что не успеваешь на групповых занятиях.", "Подготовка к соревнованиям/конкурсам.", "Возможность подготовить оригинальный подарок."],
          "dataAttr": "personal",
          "active": true
        },
        {
          "title": "Групповые занятия",
          "content": "— это отличная возможность провести время в крутом окружении и получить мощный заряд энергии на весь день!",
          "list": ["Выгоднее, чем индивидуальные занятия", "Сообщество единомышленников", "Занятия в группе интереснее и интерактивнее", "Мотивируйся примерами развития в команде"],
          "dataAttr": "group"
        }
    ];

block content
  +section._school
    .text-section
      h1 Школа фитнеса и танца
    +intro-school(introFitnesslData)

  //- +section._padding-none
  //-   .text-section
  //-      p Мы помогаем стать лучшей версией себя.
  //-       br
  //-       | Заботьтесь о себе и приходите развиваться с нами.

  +section._overflow-hidden
    .text-section
      h2
        span А какой твой стиль?
    +gallery-school

  +section
    .text-section
      h2
        span Виды занятий
    +tabs-section(tabData)

