mixin logo(white)
  +b.A(href="/").logo&attributes(attributes)
    picture
      source(srcset=`assets/images/${white?'logo-white.webp':'logo.webp'}` type="image/webp")
      img(src=`assets/images/${white?'logo-white.png':'logo.png'}` alt="logo")
    block
