.logo {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 119px;
  height: 40px;

  img,
  picture {
    @include fill-img;
  }

  span {
    font-weight: 300;
  }

  @include screen(md, max) {
    width: 60px;
    height: 21px;
  }
}
