include ../blocks/accordion/accordion
include ../blocks/bg-image/bg-image
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/business-card/business-card
include ../blocks/button/button
include ../blocks/card-mobile/card-mobile
include ../blocks/content-zone/content-zone
include ../blocks/copyright/copyright
include ../blocks/dropdown/dropdown
include ../blocks/form/form
include ../blocks/gallery-intro/gallery-intro
include ../blocks/gallery-school/gallery-school
include ../blocks/grid/grid
include ../blocks/grosh/grosh
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/list/list
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/modals/modals
include ../blocks/nav/nav
include ../blocks/person/person
include ../blocks/popups/popups
include ../blocks/preloader/preloader
include ../blocks/put-block-into-slot/put-block-into-slot
include ../blocks/section/section
include ../blocks/slider/slider
include ../blocks/svg-gradient/svg-gradient
include ../blocks/table/table
include ../blocks/tabs-section/tabs-section
include ../blocks/tabs/tabs
include ../blocks/vokal-card/vokal-card
include ../blocks/why-we/why-we
include ../blocks/with-us/with-us
include ../components/card/card
include ../components/footer/footer
include ../components/header/header
include ../components/intro/intro