mixin with-us()
  +b.with-us&attributes(attributes)
    +e.item
      .element
        span.num 01
        span Прокачаешь уверенность
          br
          | в себе!
    +e.item._reverse
      .element
        span Исполнишь свои детские
          br
          | мечты
        span.num 02
    +e.item
      .element
        span.num 03
        span Будешь в самом ресурсном
          br
          | состоянии!
    +e.item._reverse
      .element
        span Обретешь новые
          br
          | возможности тела и духа
        span.num 04
    +e.item
      .element
        span.num 05
        span Появится новое крутое
          br
          | окружение!
    +e.item._reverse
      .element
        span Получишь перспективы роста
          br
          | от новичка до эксперта!
        span.num 06
