extends ../../layouts/default

block head
  - var pageTitle = 'Для бизнеса';
  - var personalForm = true;
  -
    var introBusinesslData = {
      "title": "Обрети в себе уверенность на сцене и в жизни!",
      "subtitle": "С нами ты:",
      "list": ["прокачаешь уверенность и раскрепощённость", "познаешь границы своей личности", "повысишь эмоциональный интеллект", "обретёшь свободу в общении с новыми людьми", "получишь инструментарий для развития своего видеоблога", "освоишь навыки сценических движений и телесной выразительности"],
      "descr": "Будь ярче и убедительнее в любой компании!",
      "linkVideo": "https://www.youtube.com/embed/Ra5eFxCWSqs"
    };

  -
    var cardData = {
      "firstGroup": [
        {
          "icon": "business-1",
          "title": "Повышение эффективности команды:",
          "text": "Всестороннее развитие сотрудников позволяет улучшать эмоциональный интеллект, который напрямую влияет на подверженность стрессу, улучшает саморегуляцию (умение слышать и ставить себя на место другого), способность управлять настроением."
        },
        {
          "icon": "business-2",
          "title": "Восполнение ресурсов",
          "text": "Занятие творческими направлениями позволяет снимать эмоциональную нагрузку и восстанавливать силы. Так мы становимся более эффективными в работе."
        },
        {
          "icon": "business-3",
          "title": "Трамплин в качественную жизнь",
          "text": "Каждый человек хочет работать в компании, которая не только платит деньги, но и заботится о своей команде. Он стремится к более качественной жизни, а мы даём такую возможность: развитие и отдых."
        }
      ],
      "secondGroup": [
        {
          "icon": "business-4",
          "title": "Сплочение команды",
          "text": "Проведение совместного досуга и развлечения способствует поддержке, развитию и созданию дружеских отношений в коллективе. Помогает лучше работать в группе и сообща координировать свои действия."
        },
        {
          "icon": "business-5",
          "title": "Корпоративный дух",
          "text": "Помогает каждому участнику осознать свою ценность и как личности, и профессионала, а так же осозновать себя частью команды"
        },
        {
          "icon": "business-6",
          "title": "Улучшение взаимодействия сотрудников",
          "text": "Сотрудники начнут лучше взаимодействовать друг с другом и эффективнее решать поставленные задачи"
        },
        {
          "icon": "business-7",
          "title": "Отношение команды к работодателю",
          "text": "Тимбилдинг повышает лояльность сотрудников по отношению к работодателю."
        },
        {
          "icon": "business-8",
          "title": "Корпоратив с изюминкой",
          "text": "Проведите свой корпоратив в новом интересном формате и он запомнится всей команде на долгие годы"
        }
      ]
    };

block content
  +section._school
    .text-section
      h1 Для бизнеса
    +intro-school(introBusinesslData)

  +section
    .text-section.text-section_title-left
      h2
        span Корпоративное обучение
    each data in cardData.firstGroup
      +business-card(data)

  +section
    .text-section.text-section_title-left
      h2
        span Team-building
          br
          | (Построение команды)
    each data in cardData.secondGroup
      +business-card(data)
