mixin vokal-card()
  +b.vokal-card&attributes(attributes)
    +grid
      +col(12)
        +e.item
          .num 01
          .content
            .title Подготовка по вокалу
            p Наши педагоги помогут раскрыть твой творческий потенциал и улучшить вокальные навыки за 8 занятий в месяц. Если хочешь  научиться петь, тогда мы поможем тебе развить музыкальный слух и поставить голос.

      +col(12)
        +e.item
          .num 02
          .content
            .title Подготовка по актёрскому мастерству
            p Чтобы передать зрителю свои эмоции и переживания, вокалист должен обладать навыками актёрского мастерства. Наши педагоги помогут тебе найти свой собственный стиль и научат правильно держаться на сцене.

      +col(12)
        +e.item
          .num 03
          .content
            .title Подготовка по преодолению страхов с психологом
            p Наши психологи помогут побороть свои страхи, научат вас не бояться выступлений на публике и чувствовать себя более уверенно на сцене.

      +col(12)
        +e.item
          .num 04
          .content
            .title Танцевальная хореография
            p Вы научитесь правильно двигаться под музыку, поработав с нашими педагогами. А также мы поможем вам подготовиться к отчётному концерту, украсив ваш вокальный номер яркой и профессиональной хореографией.

      +col(12)
        +e.item
          .num 05
          .content
            .title Отчётный концерт
            p Вы выступите на сцене со своим собственным проработанным номером. Обретёте опыт выступления перед публикой. Покажете всем, чему вы научились за период занятий на своём первом отчётном концерте, а также получите массу позитивных эмоций и впечатлений от концерта.


